

/* blocks and tiles */
#b1, #b2, #b3, #b4, #b5, #b6{
	height: 250px;
	width:100%;
	margin-bottom: 15px;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

#b1:hover, #b2:hover, #b3:hover, #b4:hover, #b5:hover, #b6:hover{
	box-shadow: 0 1px 5px 2px #cccccc;
}

#b1{
	background: url('pic/oil_painting.jpg') no-repeat;
	background-position: center;
}

#b1 span, #b2 span, #b3 span, #b4 span, #b5 span, #b6 span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000000; 
	color: #FFFFFF;
	opacity: 0.55;
	border-radius: 10px;
}


/* block tile style */

.category-tile{
	position: relative;
	border-radius: 15px;
	overflow: hidden;
	width: 170px;
	height: 170px;
	margin: 0 auto 15px;
}

.category-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000000;
	color: #FFFFFF; 
	opacity: 0.55;
}

.category-tile:hover{
	box-shadow: 0 1px 5px 1px #CCCCCC;
}

#categories-title + div {
	margin-bottom: 50px;
}

/* xsmall device only */
@media (max-width: 575px){
	#b1, #b2, #b3, #b4, #b5, #b6{
		width: 350px; 
    	margin: 0 auto 15px;
    }

