/*
font-family: 'Bungee', cursive;
font-family: 'Monoton', cursive;
*/

/*
color: #A8DCC8;
*/

/* body color */
body{
	font-size: 16px;
	background: #FFD2C3;
}

/* navbar basics */
.navbar-brand h1 {	
	margin-left: 15px;
	font-family: 'Monoton', cursive;
	color: #A8DCC8;
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom:0px;
	line-height: .85;
	/*text-shadow: 5px 2px 2px #222;*/
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

.navbar-brand p{ /* designer color */
	color:#A0B0A0;
	text-transform: uppercase;
	font-size: 1.1em;

}


.navbar-brand p span { /* center designer */
	vertical-align: middle;
}

/* toggler basics */
.navbar-toggler{
	position: relative;
	float: right;
	background-color: transparent;
	border: transparent;
	background-image: none; 
	border-radius: 4px;	
}

.navbar-toggler:focus{
	outline: 0px;
}


.navbar-toggler .navbar-toggler-icon + .navbar-toggler-icon{
	margin-top: 4px;
}

@media (min-width: 768px){
	.navbar-toggler{
		display: none;
	}
}

/* navbar buttons */
#nav-list{
	margin-top: 0px;
}

#nav-list a{
	text-align: center;
}

#nav-list a:hover{
	font-size: 1.5em;
}


.container-fluid button.navbar-toggler{
	margin-right: 15px;
	border: 1px solid #A0A0A0;
}

.navbar-header{
	width: 100%;
}

/* logo and header */
#header-nav{
	background: #FFFAC3;
	border-radius: 10px;
	border:0;
}

#logo-img{
	background: url('pic/3.png') no-repeat;
	width: 140px;
	height: 140px;
	margin: 5px 5px 5px 0px;
}

.container-fluid > h2{
	font-family: 'Bungee', cursive;
}

#header-nav{
	padding-left: 0;
	padding-right: 0;
}

.nav-item{
	background: #FFFFFF;
	border-bottom: 1px solid lightgrey;
}

.item1{
	border-top: 1px solid lightgrey;
}


h3 {
	font-family: Arial Black, sans-serif;
	color: white;
    margin-top: 0px;
    margin-bottom: 0px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	/*border-radius: 1px 25px;*/ 
	background: #938785;
}

div > section > section{
	margin: 10px 10px 10px 10px;
}

p{
	clear: both;
	margin-left: 5px;
}

#p1{
	background: #FFD7D6;
}

#p2{
	background: #D6FDFF;
}

#p3{
	background: #D7D6FF;
}

#h11{
	background: #FFEBD6;
}

#h12{
	background: #C6EDEF;
}

#h13{
	background: #EBD6FF;
}

